- name: Build cEOS EVPN Symmetric IRB Fabric (eBGP Overlay and eBGP Underlay)
  hosts: DC1_FABRIC
  gather_facts: false
  tasks:

    - name: Generate AVD Structured Configurations and Fabric Documentation
      import_role:
        name: arista.avd.eos_designs

    - name: Generate Switch Intended Configurations and Documentation
      import_role:
        name: arista.avd.eos_cli_config_gen

    - add_host:
        name: localhost
        intended_dir: "{{ inventory_dir }}"

- hosts: localhost
  gather_facts: false
  tasks:
    - debug:
        msg: "{{ intended_dir }}"

    # - name: Sleep infinitely
    #   ansible.builtin.command: sleep infinity
    #   async: 0
    #   poll: 0

    # - name: Deploy generated configuration to devices
    #   tags: [deploy]
    #   import_role:
    #     name: arista.avd.eos_config_deploy_eapi

    # - name: Validate states on EOS devices
    #   tags: [verify, never]
    #   import_role:
    #     name: arista.avd.eos_validate_state
