---
- name: Initialisation of Git repo and variables
  hosts: localhost
  tasks:
    - name: Validate workflow
      # when:
      #   - awx_webhook_event_type | default('') == 'pull_request'
      #   - awx_webhook_payload.action | default('') in ['opened', 'synchronized']
      #   - awx_webhook_payload.pull_request.base.ref | default('') in ['main']
      block:
        - name: Set validation workflow facts
          set_fact:
            # scm_branch: "{{ awx_webhook_payload.pull_request.head.ref }}"
            scm_branch: "{{ git_branch }}"

    - name: Run vaildation job
      awx.awx.job_launch:
        job_template: "AVD-sleep-infinitely"
        scm_branch: "{{ scm_branch }}"
